<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226486729432-9ah2dl2ohpuuki2ttfse228obeqg4aef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226486729432-9ah2dl2ohpuuki2ttfse228obeqg4aef</string>
	<key>API_KEY</key>
	<string>AIzaSyB0OAZwdfnTnCR97aeB85Bu_ufi3hzNKSE</string>
	<key>GCM_SENDER_ID</key>
	<string>226486729432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kayesokua.MiMiChat</string>
	<key>PROJECT_ID</key>
	<string>mimichat-74d34</string>
	<key>STORAGE_BUCKET</key>
	<string>mimichat-74d34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226486729432:ios:b997f5aa9c32af7fff75ad</string>
</dict>
</plist>